.molengo-regular {
    font-family: "Molengo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Molengo";
}

body {
    background-color: hsl(0, 0%, 19%);
    position: absolute;
}

#estoy-en-ello {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    color: hsl(0, 0%, 96%);
}

#menu-entry {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    line-height: 1.25;
    padding-left: 0;
}

#menu-entry a {
    border-radius: 2px;
    color: hsl(0, 0%, 96%);
    display: block;
    padding: 0.5em 0.75em;
}

#card-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 30px;
}

select {
    border-radius: 2px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 0.5em;
    height: 32px;
    outline: 0;
    border: 0;
    background: hsl(0, 0%, 96%);
    font-size: 1em;
    color: hsl(0, 0%, 19%);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    text-align: center;
}

a {
    text-decoration: none;
}

#container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    padding-left: 0;
}

#field-search-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#search-input {
    border: 0;
    width: 70vw;
    padding: 13px;
    border-radius: 5px;
    margin-left: 10px;
    transition: all 0.25s ease;
}

#search-button {
    padding: 8px;
    padding-right: 50px;
    width: 10vw;
    margin-left: 10px;
    border-radius: 0.25rem 0 1rem 0.3rem;
    cursor: pointer;
    font-size: 1em;
    outline: 0;
    border: 0;
    background: hsl(0, 0%, 96%);
    transition: all 0.25s ease;
}



#search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    margin: 20px 15px;
}

/*Botón del Modal*/
#card-click {
    cursor: pointer;
    padding: 0;
    border: 1;
    width: 40%;
    margin-bottom: 20px;
    border-radius: 5px;
}

#modal-box {
    display: none;
    /* Por defecto, estará oculto */
    position: absolute;
    /* Posición fija */
    z-index: 1;
    /* Se situará por encima de otros elementos de la página*/
    padding-top: 100px;
    /* El contenido estará situado a 200px de la parte superior */
    margin-bottom: 100px;
    left: 0;
    top: 0;
    
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    /* overflow: auto; */
    /* Se activará el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5);
    /* Color negro con opacidad del 50% */
}

#modal-content {
    position: relative;
    /* Relativo con respecto al contenedor -modal- */
    margin: auto;
    /* Centrada */
    width: 80%;
    color: white;
}

#close-modal {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#modal-inner-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modal-inner-image>img {
    height: 400px;
}

.pokemon-type-image {
    height: 20px;
}

.attack-cost-name-damage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

#card-basic-info {
    margin-top: 15px;
}
#card-basic-info, #card-basic-info>article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-data-content>p {
    margin: 20px 10px;
    text-align: justify;
}

#abilities-title, h6 {
    font-size: 1em
}

#weak-res-reat-raw {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
#weak-res-reat-raw>section {
    width: 50%;
}

#card-attacks-info>section {
    margin-top: 20px;
}

#card-variety-info-1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
#card-variety-info-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
}

#hp-type-row {
    font-size: 22px;
}

#card-regulations-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#card-regulations-standard, #card-regulations-expanded, #card-regulations-unlimited {
    display: flex;
}

#pokemon-regulationMark-image {
    width: 20px;
}

.rules-attack-text {
    text-align: justify;
}

.regulation-button {
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.legalities-button {
    font-size: 10px;
    background-color: green;
    padding: 5px;
    margin: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Toda la info de la carta */
p {
    font-size: 1rem;
    color: white;
    margin: 5px;
}

